{% capture no_products_found %}
  <p class="text-h6 text-center">{{ 'collection.no_products' | t }}</p>
{% endcapture %}

{% if collection.all_products_count == 0 %}
  {{ no_products_found }}

{% else %}
  {% capture results %}
    {% if collection.products_count == 0 %}
      {{ no_products_found }}
    {% else %}
      {% paginate collection.products by section.settings.products_per_page %}
        <ul class="grid list-reset">
          {% for product in collection.products %}
            <li class="col xs6 {% if collection.sort_options.size == 0 and collection.filters.size == 0 %}l3{% else %}l4{% endif %}">
              {% # theme-check-disable CaptureOnContentForBlock %}
              {% content_for 'block', type: 'product-card', id: 'product', closest.product: product %}
              {% # theme-check-enable CaptureOnContentForBlock %}
            </li>
        {% endfor %}
        </ul>

        <div class="pagination">{{ paginate | default_pagination }}</div>
      {% endpaginate %}
    {% endif %}
  {% endcapture %}

  {% render 'results-list',
    sort_options: collection.sort_options,
    sort_by: collection.sort_by,
    default_sort_by: collection.default_sort_by,
    filters: collection.filters,
    results: results
  %}
{% endif %}

{% schema %}
{
  "class": "container",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "label": "t:sections.main-collection.settings.products_per_page.label",
      "min": 1,
      "max": 48,
      "default": 12
    }
  ]
}
{% endschema %}
